<div class="container">
	<table id="cart" class="table table-hover table-condensed">
		<thead>
			<tr>
				<th style="width:50%">Product</th>
				<th style="width:10%">Price</th>
				<th style="width:8%">Quantity</th>
				<th style="width:22%" class="text-center">Subtotal</th>
				<th style="width:10%"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in vm.products">
				<td data-th="Product">
					<div class="row">
						<div class="col-sm-2 hidden-xs"><img src="{{product.productImage[0]}}" alt="..." class="img-responsive"/></div>
						<div class="col-sm-10">
							<h4 class="nomargin">{{product.name}}</h4>
							<p>{{product.description[0]}}</p>
						</div>
					</div>
				</td>
				<td data-th="Price">${{product.price}}</td>
				<td data-th="Quantity">
					<input type="number" class="form-control text-center" min="1" ng-max="{{product.stock}}" ng-init="product.quantity=1" ng-model="product.quantity" limit-to-max />
					<p>{{product.stock - product.quantity}} in stock</p>
				</td>
				<td data-th="Subtotal" class="text-center">{{product.price}}</td>
				<td class="actions" data-th="">
					<button class="btn btn-info btn-block" ng-click="vm.removeFromCart(product)">Remove</button>						
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr class="visible-xs">
				<td class="text-center"><strong>Total ${{vm.getTotal()}}</strong></td>
			</tr>
			<tr>
				<td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
				<td colspan="2" class="hidden-xs"></td>
				<td class="hidden-xs text-center"><strong>Total ${{vm.getTotal()}}</strong></td>
				<td><a ng-click="vm.checkout()" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
			</tr>
		</tfoot>
	</table>
</div>