<div class="container">
	<div class="wrapper row">
		<div class="card col-md-2 col-sm-2 col-xs-3" style="width: 350px;" ng-repeat="product in vm.products">
		  <img class="card-img-top" ng-src="{{product.productImage[0]}}" alt="Card image" style="max-width: 300px; width: 300px; height: 300px">
		  <div class="card-block">
		    <h4 class="card-title" style="padding-left: 10px">
		    	{{product.name}}
		    	<br/>
		    	{{product.price}}$
		    </h4>
		    <p class="card-text" style="padding-left: 10px">
		    	{{product.description[0]}}
		    </p>
		    <a ng-click="vm.seeDetail(product)" class="btn btn-primary">See details</a>
		  </div>
		</div>
	</div>
</div>