<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
        <button ng-if="!vm.user" type="button" class="btn btn-default navbar-btn" ng-click="vm.redirectLogin()">Sign in</button>
        <ul class="nav navbar-nav" ng-if="vm.admin">
          <li class="active" ng-click="admin.addProduct = !admin.addProduct"><a>Add Product</a></li>
          <li ng-click="admin.addProduct = !admin.addProduct"><a>Edit Product</a></li>
        </ul>
        <p ng-if="vm.user.email" class="navbar-text">Signed in as {{vm.user.email}}</p>
        <ul class="nav navbar-nav navbar-right">
          <li ng-if="vm.user" ng-click="vm.signout()">
            <a>Sign out</a>
          </li>
        </ul>
      </div>
  </nav>
  <div ui-view></div>
  <footer>
    <p>© 2017<a style="color:#0a93a6; text-decoration:none;" href="#">Fish Skin</a>, All rights reserved 2016-2017.</p>
    </footer>
</div>